/*

CSS Syntax:
	selector {
		property1: value1;
		property2
	}
*/


/*Universal Selector*/

*{
	font-family: "Courier New", monospace;

	/* CSS Reset */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Type Selector*/

h1{
	font-family: "Tahoma", sans-serif;
}

body{
	background-color: skyblue;

	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg) ;
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}	


section{
	text-align: center;
}

a{
	text-decoration: none;
}

nav{
	background-color: white;
	text-align: center;
	/*padding space inside element */
	padding: 15px;
}


/*Class Selector*/
.nav_link {
	font-size: 20px;
}

.title{
	color: green;
	margin-top: 10px;
	margin-bottom: 10px;
}

.module-card{
	height: 350px;
	width: 800px;
	padding: 50px;
	border: 1px solid black;
	background-color: white;
	margin top: 30px;
	margin-bottom: 30px ;
	text-align: center;
	border border-radius:10px ;
	margin-left: auto;
	margin-right: auto;
}

.module-image{
	height: 200px;
	width: 200px;
}

/*ID Selector*/
#hello {
	color: red;

	/*2rem-> 2 x root element=32px*/
	font-size: 2rem;
}

#moduleHeader{
	margin-top: 30px;
}

#logo{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	margin-top: 2rem;
	margin-bottom: 2rem;
}